extends /extends/site-base

append vars
  //- SP全体のmeta情報
  //-
    - var title    = ['タイトル', 'ogタグ用タイトル'];
    - var desc     = ['ディスクリプション', 'ogディスクリプション'];
    - var keyword  = 'キーワード,キーワード';
    - var siteName = 'サイト名';
    - var ogUrl    = 'http://hoge.com/';
    - var ogImg    = 'http://hoge.com/hoge.png';
    - var ogType   = 'website';

block meta
  include /includes/meta
    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0")
block else
  //-link(href="/apple-touch-icon-precomposed.png", rel="apple-touch-icon-precomposed", type="image/png")
block css
  link(rel="stylesheet", href=relative('sp/styles/style.css'))
block js
  script(src=relative('sp/scripts/index.js'))
