@charset "UTF-8"

@import 'stylus/imports/setting'
@import 'stylus/imports/tm'
@import 'stylus/imports/sprite'

global-reset()

image-path = "images/"

body
  min-width 320px
  -webkit-text-size-adjust 100%
