-
  //- ==========================================================================
  //- encode
  //- ==========================================================================
  //- @example
  //- --------
  //- encode('hoge')
  //- --------
  function encode (str) {
    return encodeURIComponent(str).replace(/[!'()*]/g, function(c) {
      return '%' + c.charCodeAt(0).toString(16);
    });
  }

  //- ==========================================================================
  //- each
  //- ==========================================================================
  //- @example
  //- --------
  //- each i in range(1, 10)
  //- --------
  function range (start, end) {
    const arry = []
    for (let i = start; i < end + 1; i++) arry.push(i)
    return arry
  }

  //- ==========================================================================
  //- get file name
  //- ==========================================================================
  //- @example
  //- --------
  //- getFileName(hoge)
  //- --------
  function getFileName (str) {
    const fileName = str.split('/').pop()
    return fileName
  }
