-
  //- ==========================================================================
  //- Breakpoint
  //- ==========================================================================
  const breakPointSp = 767
  const breakPointPc = 768
  const breakPointPcLarge = 1366
  
  //- ==========================================================================
  //- URL
  //- ==========================================================================
  const siteUrl = 'https://example.com/'

  //- ==========================================================================
  //- Path
  //- ==========================================================================
  const path    = relative('')
  const pathCss = join(path, 'assets/css/')
  const pathJs  = join(path, 'assets/js/')
  const pathImg = join(path, 'assets/img/')
  