-
  //- ==========================================================================
  //- breakpoint
  //- ==========================================================================
  const breakPointSp = 750
  const breakPointPc = 751
  const breakPointPcLarge = 1366
  
  //- ==========================================================================
  //- siteUrl
  //- ==========================================================================
  const siteUrl = 'http://hoge.com/'

  //- ==========================================================================
  //- path
  //- ==========================================================================
  const path    = relative('')
  const pathCss = join(path, 'assets/css/')
  const pathJs  = join(path, 'assets/js/')
  const pathImg = join(path, 'assets/img/')
  