-
  //- ==========================================================================
  //- breakpoint
  //- ==========================================================================
  const breakPointSp = 750
  const breakPointPc = 751

  //- ==========================================================================
  //- url
  //- ==========================================================================
  const url = ''

  //- ==========================================================================
  //- path
  //- ==========================================================================
  const path    = relative('')
  const pathCss = join(path, 'styles/')
  const pathJs  = join(path, 'scripts/')
  const pathImg = join(path, 'images/')
  