@charset "UTF-8"

@import '../../imports/tm.styl'
@import '../../imports/sprite.styl'
// @import '../../imports/keyframes.styl'

global-reset()

image-path = "images/"

body
  -webkit-text-size-adjust 100%
