@charset "UTF-8"

@import 'stylus/imports/setting'
@import 'stylus/imports/tm'
@import 'stylus/imports/sprite'
// @import 'stylus/imports/keyframes'

global-reset()

image-path = "images/"

body
  -webkit-text-size-adjust 100%
