global-reset()

html
  font-size 62.5%
body
  font-rem(24)
  font-family $font-family-base
  color $font-color-base
  background-color $base-color
  text-rendering auto
  font-feature-settings "palt"
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust 100%
  -webkit-font-smoothing antialiased

img
  width 100%
  height auto
  vertical-align bottom

svg
  size 100%
  backface-visibility hidden

button,
input[type="text"],
select,
textarea
  appearance none
  display block
  margin 0
  padding 0
  font-family $font-family-base
  font-size 100%
  border 0
  border-radius 0
  background none
  outline none

button,
input[type="button"],
label,
select
  cursor pointer

main,
section
  position relative

a
  text-decoration none

.sp
  display none
  +media('sp')
    display inline-block
.pc
  +media('sp')
    display none
