global-reset()

html
  font-size 62.5%
body
  font-rem(24)
  font-family $font-family-base
  color $font-color-base
  background-color $base-color
  -webkit-text-size-adjust 100%

.for-sp
  display none
  @media $sp
    display inline-block
.for-pc
  @media $sp
    display none