//- Noto Sans
@font-face
  font-family 'Noto Sans JP'
  font-style normal
  font-weight 400
  src url('../fonts/NotoSansJP-R.woff2') format('woff2')

@font-face
  font-family 'Noto Sans JP'
  font-style normal
  font-weight 700
  src url('../fonts/NotoSansJP-B.woff2') format('woff2')

