// pxをつける
// すでに単位が付いている場合（px|rem|vw|vh|calc）はそのまま
_add-pixel($val)
  return unit($val, 'px') unless is-width($val) or typeof($val) is literal
  $val

// get-percent-sizeの代わり
// -percentage(1) -> 100%
// -percentage(9, 16) -> 56.25% - 動画の比率
_percentage()
  if length(arguments) is 1
    return percentage(arguments[0])
  else
    return percentage(arguments[0] / arguments[1])

// vwの計算
_vw($val, $viewport)
  1vw * -percentage($val, $viewport)

// vhの計算
_vh($val, $viewport)
  1vh * -percentage($val, $viewport)

//画像のサイズを取得する
//@example
//----------
//get-img-size('../../htdocs/images/sample.png')  // image
//get-img-size('images/sample/a.png')  // sprite
//----------
_get-img-size($imgpath)
  if match('^.+(htdocs|public).+$', $imgpath)
    $img-size = image-size($imgpath)
    return {
      width : $img-size[0]
      height: $img-size[1]
    }
  else
    return {
      width : sprite-hash[$imgpath].width
      height: sprite-hash[$imgpath].height
    }
