//************************************************
//			= browser
//************************************************

// PC
//======================================
support-ie9     ?= false
support-ie10    ?= false
support-ie11    ?= true
support-edge    ?= true
support-chrome  ?= true
support-safari  ?= true
support-firefox ?= true
support-opera   ?= true

// SP
//======================================
support-ios9     ?= false
support-ios10    ?= true
support-ios11    ?= true
support-android4 ?= false
support-android5 ?= true
support-android6 ?= true
support-android7 ?= true
support-android8 ?= true
