blank-png = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII='

//サイズ指定1
size(width, height = width)
  width width
  height height

//サイズ指定2（最小）
min-size(width, height = width)
  min-width width
  min-height height

//サイズ指定3（100%）
full-size()
  width 100%
  height 100%

//画像を100%にする
full-sized-img()
  img
    width 100%

//画像の親に出来る隙間をなくす
img-container()
  line-height 0

//子の画像の大きさを指定する
img-width(width)
  img
    width width

//画像のサイズを取得する
get-img-size(imgpath)
  if match('^.+(htdocs).+$', imgpath)
    img-size = image-size(imgpath)
    return {
      width : img-size[0]
      height: img-size[1]
    }
  else
    return {
      width : sprite-hash[imgpath].width
      height: sprite-hash[imgpath].height
    }

//パーセントのサイズを割り出す
get-percent-size(size, base-size)
  (size / base-size * 100)%

//コンテンツをセンタリング1
container-centering(width)
  position relative
  width width
  margin-right auto
  margin-left auto

//コンテンツをセンタリング2（パーセント指定）
percent-container-centering(width, base-width)
  width  get-percent-size(width, base-width)
  margin-left auto
  margin-right auto

//アスペクト比を固定したままリサイズ（IE8以上）
//サイズを設定するか、画像パスまたはスプライト画像へのパスを設定
aspect-ratio-kept-container(width-or-imgpath, height = null)
  if typeof(width-or-imgpath) is 'string'
    img-size = get-img-size(width-or-imgpath)
    width  = img-size.width
    height = img-size.height
  else
    width = width-or-imgpath
  width 100%
  position relative
  &::before
    content ""
    display block
    padding-top (height / width * 100)%
  > *
    position absolute

//aタグをブロック要素にする
a-block()
  a
    display block

//要素をボタンとして扱う
button()
  display block
  cursor pointer

//10pxより小さいfont-size指定（chrome対策）
small-text(size)
  display inline-block
  transform scale(size)
  transform-origin 0 0

//文字置換
text-replace()
  text-indent 100%
  text-decoration none
  white-space nowrap
  overflow hidden

//2行目以降を一文字下げる
second-line-indent(width)
  padding-left width
  text-indent -1 * width

//IE8・9・ハック
ie8(value)
  return value unquote("\9")

//selectカスタマイズ
select-customize(width, height)
  width width
  height height
  line-height height
  border none
  cursor pointer
  appearance button
  &:focus
    outline none

//radioカスタマイズ
radio-customize(width, height)
  position relative
  width width
  height height
  line-height height
  border none
  cursor pointer
  appearance button
  &:focus
    outline none
  &:checked:after
    display block
    absolute left top
    size(width, height)
    content ""

//テーブルレイアウトのdlリスト
dl-list(list-size, dt-width, dd-width)
  width list-size
  dt
    float left
    width dt-width
    clear both
  dd
    width dd-width
    margin-left dt-width

//Android4 文章の折り返し位置のバグ対応
fix-android-word-wrap()
  body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
    background url(blank-png) no-repeat

//背景に透明画像を指定する（IE対策を含める）
//IEではalphaで背景を消すと表示範囲を確保できないため透明画像を配置する必要がある。
transparent()
  background url(blank-png)

//IE10でinputに出てくるクリアボタンを表示させない
input-clear-invisible()
  &::-ms-clear
    display none

//アスペクト比で出し分け（iPhone）
iphone-device-aspect-ratio()
  @media screen and (device-aspect-ratio: 2/3)
    .iphone-under5
      display block
    .iphone-over5
      display none
  @media screen and (device-aspect-ratio: 40/71)
    .iphone-under5
      display none
    .iphone-over5
      display block
  @media screen and (device-aspect-ratio: 3/4)
    .iphone-under5
      display none
    .iphone-over5
      display block

//三角形を生成
triangle(shape = 'left', size = 10px, color = #000, positions = { top: auto, right: auto, bottom: auto, left: auto })
  content ""
  display block
  width 0
  height 0
  if shape is 'top'
    colors = transparent transparent color
  else if shape is 'left'
    colors = transparent color transparent transparent
  else if shape is 'bottom'
    colors = color transparent transparent
  else if shape is 'right'
    colors = transparent transparent transparent color
  else if shape is 'topLeft'
    colors = color transparent transparent color
  else if shape is 'topRight'
    colors = color color transparent transparent
  else if shape is 'bottomRight'
    colors = transparent color color transparent
  else if shape is 'bottomLeft'
    colors = transparent transparent color color
  border-width size
  border-style solid
  border-color colors
  position absolute
  for prop, pos in positions
    {prop} pos

//スプライト
//使い方
//▼hover 無し
//sprites('images/button/logo.png')
//▼hover 有り
//sprites('images/button/logo', '-hover', '.png')
//▼hover & selector 有り
//sprites('images/button/logo', '-hover', '.png', '&.is-located')
sprites(path, suffix = false, extension = false, selector = false)
  if !suffix and !extension
    sprite path
  if suffix
    sprite path + extension
    if selector
      &:hover, {selector}
        sprite path + suffix + extension
    else
      &:hover
        sprite path + suffix + extension

//景画像指定
//使い方
//bg-img("aaa.jpg", left, top, no-repeat, #fff)
bg-img(file-name, position-x = left, position-y = top, repeat-type = null, bg-color = null, bg-size = false)
  background url(image-path + file-name) position-x position-y repeat-type bg-color
  if bg-size
    background-size bg-size

//背景画像指定（複数）
//使い方
//bg-img-multiple(
//  {
//    '1': "aaa.jpg" (left top) no-repeat
//    '2': "bbb.jpg" (left top) no-repeat #fff
//  },
//  {
//    '1': (50px 100px)
//    '2': (50px 100px)
//  }
//)
bg-img-multiple(imagesHash, sizesHash = false)
  images = null
  for i, props in imagesHash
    for prop, j in props
      if j is 0
        if i is 1
          images = images url(prop)
        else
          images = images, url(prop)
      else
        if prop
          images = images prop
  background images
  if sizesHash
    sizes = null
    for i, prop in sizesHash
      if prop
        if i is 1
          sizes = sizes prop
        else
          sizes = sizes, prop
    background-size sizes

//スプライト画像のホバーアニメーション（フェード）
//keyframes.styl の読み込みが必要
sprite-hover(image, duration = .2, suffix = { before: '-off', after: '-on' })
  position relative
  animation delayView (duration)s linear
  &, &:hover::before
    sprite(image + suffix.before + '.png')
  &::before, &::after
    content ''
    display block
    opacity 0
    absolute top 0 left 0
  &::after
    sprite(image + suffix.after + '.png')
    animation fadeOut (duration)s linear
  &:hover
    background none
    &::before, &::after
      opacity 1
    &::after
      animation fadeIn (duration)s linear

//ループアニメーションの生成
//使い方
//create-animation(sampleAnime, 3, 10, {
//    '0': { opacity: 1 },
//   '50': { opacity: 0 },
//  '100': { opacity: 1 }
//})
create-animation(name, duration, interval, animationHash)
  @keyframes name
    durationRatio = duration / (duration + interval)
    for progress, cssHash in animationHash
      {durationRatio * progress}{unquote('%')}
        for key, val in cssHash
          {key} val

//cssアニメーション イージングのベースパターン
//使い方
//transition opacity .5s easeOutQuint
// Cubic
easeInCubic    = cubic-bezier(0.550, 0.055, 0.675, 0.190);
easeOutCubic   = cubic-bezier(0.215, 0.610, 0.355, 1.000);
easeInOutCubic = cubic-bezier(0.645, 0.045, 0.355, 1.000);
// Circ
easeInCirc     = cubic-bezier(0.600, 0.040, 0.980, 0.335);
easeOutCirc    = cubic-bezier(0.075, 0.820, 0.165, 1.000);
easeInOutCirc  = cubic-bezier(0.785, 0.135, 0.150, 0.860);
// Expo
easeInExpo     = cubic-bezier(0.950, 0.050, 0.795, 0.035);
easeOutExpo    = cubic-bezier(0.190, 1.000, 0.220, 1.000);
easeInOutExpo  = cubic-bezier(1.000, 0.000, 0.000, 1.000);
// Quad
easeInQuad     = cubic-bezier(0.550, 0.085, 0.680, 0.530);
easeOutQuad    = cubic-bezier(0.250, 0.460, 0.450, 0.940);
easeInOutQuad  = cubic-bezier(0.455, 0.030, 0.515, 0.955);
// Quart
easeInQuart    = cubic-bezier(0.895, 0.030, 0.685, 0.220);
easeOutQuart   = cubic-bezier(0.165, 0.840, 0.440, 1.000);
easeInOutQuart = cubic-bezier(0.770, 0.000, 0.175, 1.000);
// Quint
easeInQuint    = cubic-bezier(0.755, 0.050, 0.855, 0.060);
easeOutQuint   = cubic-bezier(0.230, 1.000, 0.320, 1.000);
easeInOutQuint = cubic-bezier(0.860, 0.000, 0.070, 1.000);
// Sine
easeInSine     = cubic-bezier(0.470, 0.000, 0.745, 0.715);
easeOutSine    = cubic-bezier(0.390, 0.575, 0.565, 1.000);
easeInOutSine  = cubic-bezier(0.445, 0.050, 0.550, 0.950);
// Back
easeInBack     = cubic-bezier(0.600, -0.280, 0.735, 0.045);
easeOutBack    = cubic-bezier(0.175,  0.885, 0.320, 1.275);
easeInOutBack  = cubic-bezier(0.680, -0.550, 0.265, 1.550);


//nib override
opacity(val)
  opacity val
