// サイズ
size-pc = 1200px
size-sp = 750px

// 画像パス
image-path = "../images/"
sprite-path = 'images/'

pc = 'only screen and (min-width: 769px)'
sp = 'only screen and (max-width: 768px)'
sp-small = 'only screen and (max-width: 374px)'