$size-pc = 1200
$size-tab = 768
$size-sp = 750

$image-path  = "../images/"
$sprite-path = 'images/'

$font-hiragino    = 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif
$font-family-base = $font-hiragino
$font-color-base  = #000000
$link-color-base  = #000000
$base-color       = '#ffffff'