extends /extends/site-base

append vars
  - title       = 'top title'
  - description = 'top description'
  - keywords    = 'top keywords'
  - bodyAttrs   = { 'id': 'body-id', 'class': 'body-class' };

{{vars}}

//- append metas
//-   meta()
//- append styles
//-   link(rel="stylesheet", href="", media="all")
//- append scripts
//-   script(src="")

block body-contents
  h1 #{ factoryTitle }
  p #{ factoryContents }
