extends /extends/pc/pc-template.pug

append vars
  //- 各ページのmeta情報
    - var title    = ['タイトル', 'ogタグ用タイトル'];
    - var desc     = ['ディスクリプション', 'ogディスクリプション'];
    - var keyword  = 'キーワード,キーワード';
    - var siteName = 'サイト名';
    - var ogUrl    = 'http://hoge.com/';
    - var ogImg    = 'http://hoge.com/hoge.png';
    - var ogType   = 'website';

  //- body の id, class 設定
    - var bodyAttrs = { 'id': 'body-id', 'class': 'body-class' };

block body-contents