extends /extends/site-base

append vars
  //- 各ページのmeta情報
  //- - title    = ['タイトル', 'ogタグ用タイトル'];
  //- - desc     = ['ディスクリプション', 'ogディスクリプション'];
  //- - keyword  = 'キーワード,キーワード';
  //- - siteName = 'サイト名';
  //- - ogUrl    = `${siteUrl}`;
  //- - ogImg    = `${siteUrl}assets/img/hoge.png`;
  //- - ogType   = 'website';

  //- body の id, class 設定
  //- - bodyAttrs = { 'id': 'body-id', 'class': 'body-class' };

block body-contents
